#tab-content {
  padding: 1rem;
  border-radius: 6px;
  background-color: #2f1d43;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

#tab-content h3 {
  margin: 0;
}

#tab-content pre {
  background-color: #1b082f;
  border-radius: 1rem;
  padding: 3rem;
}

#tab-content code {
  font-size: 1rem;
  color: #e5ff00;
}
